<div class="container form-style pt-3">
    <p class="display-4 text-justify">About</p>
    <div class="line"></div>
    <p class="display-4 mt-2 ml-4">Created by:</p>
    <div class="mb-3 d-flex justify-content-center">
        <img class="rounded-circle prof-img transbl" src="/images/dada.JPG" />
        <div>
            <p class="display-4 mt-2 ml-4 transbl">Name: <span class="font-weight-normal">Sameer Abdullah</span></p>
            <p class="display-4 mt-2 ml-4 transbl">Roll No: <span class="font-weight-normal">BCSF18A525</span></p>
        </div>
    </div>
</div>