@using Blog_App.Models
@model Login
<form method="post" action="/Home/Home" class="container form-style">
    <p class="display-4">Login</p>
    <div class="line"></div>
    <p class="text-danger">
        <!-- Checking is Model contain any object -->
        @if (Model != null)
        {@Model.Error}
    </p>
    <div class="form-group">
        <label asp-for="Username">Username*</label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password*</label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="d-flex justify-content-between align-items-end">
        <a class="card-link" asp-action="Signup">I don't have an account</a>
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>